.App {
  text-align: center;
 
}
 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.App-link {
  color: #61dafb;
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
.carousel-container {
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.carousel-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
  position: relative;
}

.carousel-content {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: white;
  text-align: left;
}

.carousel-content h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.carousel-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.carousel-content button {
  font-size: 1.2rem;
}

